.card{

  background: lighten($fridge, 20%);
  text-align: center;
  .card-header {
    background: $fridge;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  .card-img-top{
    display: inline-block;
    width: 50%;

  }
  .card-body {
    padding: 1rem 0;
    font-family: 'handlee';
    .card-title {
      background: $fridge;
      font-size: 1.5rem;
      width: 100%;
      color: white;
      font-weight: bold;
    }
    ul{
     padding-inline-start: 1.5rem;
    }

    .card-text {
      text-align: left;

      li {
        list-style-type: none;
        text-wrap: normal;
      }
    ;
    }
    .group-info{
      display: flex;
      justify-content: space-between;
      border-top : 1px solid rgba(0,0,0, 0.125);
      padding: 1rem;
      .index{
        padding: .5rem 1rem;
      }
      &:last-child{
        padding-bottom: 0;
      }

      button, a.btn{
        background: $salmon;
        color: white;
        padding: .5rem 1.3rem;
        margin: 0 1rem;
      }

    }

  }

}
