$breakPoints: ( 576px, 768px, 992px, 1200px);
@mixin mQ($width) {
  @media (min-width: $width) {
    @content
  }
}

html {

  font-size: 50%;
  @include mQ(nth($breakPoints, 2)) {
    font-size: 60%;
  }
  @include mQ(nth($breakPoints, 3)) {
    font-size: 70%;
  }
  @include mQ(nth($breakPoints, 4)) {
    font-size: 80%;
  }
  @include mQ(1600px){
    font-size: 90%;
  }
}